{% extends "layout_start.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


  <img src="/public/images/logos/{{idpSlug}}.png" alt="" style="width: 100%;">
	<h1 class="heading-large">{{idpName}}<br/>GOV.UK Verify</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			

				<div class="inner-block">
				
					</br>
					</br>
					</br>
					</br>
					</br>

					<div class="form-group">
						<a href="intro-upload" class="button">Start now</a>
					</div>

				</div>


		</div>

	</div>	

</main>
{% endblock %}


