{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


	<h1 class="heading-large">Scan the QR code</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			

				<div class="inner-block">

					<p>
						<img src="/public/images/diagram-qr-scan.png" alt="" class="image-centre">
					</p>
					<p>Scan the QR code shown on your web page by holding the camera of your device in front of the QR code.</p>

					<p>Your devide will automatically scan the QR code.</p>

					<div class="form-group">
						<a href="scan-screen" class="button">Continue</a>
					</div>

				</div>


		</div>

	</div>	

</main>
{% endblock %}


