{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


	<h1 class="heading-large">Upload documents</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			

				<div class="inner-block">
				
					<p>This app will enable you to scan an image of your document.</p>

					<p>This will be automatically sent to Experian for checking.</p>

					<p>It's easy.</p>

					<p>To start, select "Scan QR code"</p>

					<div class="form-group">
						<a href="intro-scan" class="button">Scan QR code</a>
					</div>

				</div>


		</div>

	</div>	

</main>
{% endblock %}


