{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


	<h1 class="heading-large">Photographing your document</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

				<img src="/public/images/diagram-doc-scan.png" alt="" class="image-centre">

				<div class="inner-block">
				
					<p>Place your document in good lighting, preferably daylight.</p>

					<p>Hold the camera straight above the document.</p>

					<p>Avoid light reflecting on the document.</p>

					<p>Make sure all information is visible.</p>

					<div class="form-group">
						<a href="scan-id" class="button">Continue</a>
					</div>

				</div>


		</div>

	</div>	

</main>
{% endblock %}


