{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


	<h1 class="heading-large">Scan successful</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			

				<div class="inner-block">
				
					<p>Now you will need to take a photo of your driving licence:</p>

					<div class="form-group">
						<a href="scan-id-intro" class="button">Continue</a>
					</div>

				</div>


		</div>

	</div>	

</main>
{% endblock %}


