{% extends "layout.html" %}

{% block pageTitle %}Index{% endblock %}

{% block content %}
<main id="content" role="main">


	<h1 class="heading-large">Review your ID and Photo</h1>

	<div class="grid-row">

		<div class="column-two-thirds">

			

				<div class="inner-block">
				
					<p>Please check if:</p>

					<ul class="list list-bullet">
						<li>The photo is clear</li>
						<li>There are no reflections</li>
						<li>All details are visible</li>
					</ul>
						<img src="" id="id-review" />
						<img src="" id="photo-review" />
						<!-- <img src="/public/images/photo-id.png"  style="width: 100%;" alt=""> -->
					
					<div class="form-group">
						<a href="scan-id-uploading" class="button">Confirm</a>
						<a href="scan-id" class="button">Retake</a>
					</div>

				</div>


		</div>

	</div>	
	<script>
	//$(document).ready(function(){
		var dataImage = localStorage.getItem('imgData');
		bannerImg = document.getElementById('tableBanner');
		bannerImg.src = "data:image/png;base64," + dataImage;
	//})
	</script>

</main>
{% endblock %}


